<h1>Listing nonprofits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nonprofits.each do |nonprofit| %>
      <tr>
        <td><%= nonprofit.name %></td>
        <td><%= link_to 'Show', nonprofit %></td>
        <td><%= link_to 'Edit', edit_nonprofit_path(nonprofit) %></td>
        <td><%= link_to 'Destroy', nonprofit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nonprofit', new_nonprofit_path %>
