<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :farming %><br>
    <%= f.check_box :farming %>
  </div>
  <div class="field">
    <%= f.label :fitness %><br>
    <%= f.check_box :fitness %>
  </div>
  <div class="field">
    <%= f.label :family %><br>
    <%= f.check_box :family %>
  </div>
  <div class="field">
    <%= f.label :civic %><br>
    <%= f.check_box :civic %>
  </div>
  <div class="field">
    <%= f.label :arts %><br>
    <%= f.check_box :arts %>
  </div>
  <div class="field">
    <%= f.label :tech %><br>
    <%= f.check_box :tech %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.check_box :education %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
