<h1>Listing interests</h1>

<table>
  <thead>
    <tr>
      <th>Farming</th>
      <th>Fitness</th>
      <th>Family</th>
      <th>Civic</th>
      <th>Arts</th>
      <th>Tech</th>
      <th>Education</th>
      <th>Interested</th>
      <th>Interested type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= interest.farming %></td>
        <td><%= interest.fitness %></td>
        <td><%= interest.family %></td>
        <td><%= interest.civic %></td>
        <td><%= interest.arts %></td>
        <td><%= interest.tech %></td>
        <td><%= interest.education %></td>
        <td><%= interest.interested_id %></td>
        <td><%= interest.interested_type %></td>
        <td><%= link_to 'Show', interest %></td>
        <td><%= link_to 'Edit', edit_interest_path(interest) %></td>
        <td><%= link_to 'Destroy', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interest', new_interest_path %>
