<p id="notice"><%= notice %></p>

<p>
  <strong>Farming:</strong>
  <%= @interest.farming %>
</p>

<p>
  <strong>Fitness:</strong>
  <%= @interest.fitness %>
</p>

<p>
  <strong>Family:</strong>
  <%= @interest.family %>
</p>

<p>
  <strong>Civic:</strong>
  <%= @interest.civic %>
</p>

<p>
  <strong>Arts:</strong>
  <%= @interest.arts %>
</p>

<p>
  <strong>Tech:</strong>
  <%= @interest.tech %>
</p>

<p>
  <strong>Education:</strong>
  <%= @interest.education %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
